.clip {
  animation: clip 1s infinite linear;
}

@keyframes clip {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pay-load {
  animation: loadPay 1s infinite linear;
}

@keyframes loadPay {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
    color: red;
  }
}

@media (max-width: 700px) {
  .msgIcon {
    font-size: 30px;
  }
  .message-con {
    font-size: 13px;
  }
}

.own {
  border-radius: 15px 15px 4px 15px;
}
.msg {
  border-radius: 15px 15px 15px 4px;
}
.ownTwo {
  border-radius: 15px 4px 15px 15px;
  margin-top: -5px;
}
